In [127]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.impute import SimpleImputer
import re

from fuzzywuzzy import process, fuzz

In [128]:
path = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir) + "/data/raw")

In [129]:
cwd = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir))

In [130]:
os.listdir(path)

['BX-Books.csv',
 'BX-NewBooks.csv',
 'BX-NewBooksRatings.csv',
 'BX-NewBooksUsers.csv',
 'BX-Ratings.csv',
 'BX-Users.csv']

# Cleaning Bx-Users.csv subset (fuzzy wuzzy too long)

In [131]:
users = pd.read_csv(path + "/BX-Users.csv")
users.columns

Index(['User-ID', 'User-City', 'User-State', 'User-Country', 'User-Age'], dtype='object')

In [132]:
users_sample = users.sample(n=5,random_state = 123)

#### Clean Country names

regex clean values that are supposed to be nan

In [133]:
pattern_1 = r'[xX]{2,6}'  # Matches 2 to 6 occurrences of "X"
pattern_2 = r'\b(n/a)\b'

# Replace matching values with np.nan
for column in ['User-Country', 'User-State', 'User-City']:
    # Replace matching values with np.nan using the respective pattern
    users_sample[column] = users_sample[column].replace(pattern_1, np.nan, regex=True)
    users_sample[column] = users_sample[column].replace(pattern_2, np.nan)

# Fill remaining NaN values with np.nan
users_sample.fillna(np.nan, inplace=True)

Strip apostrophe and spaces

In [134]:
columns = ['User-Country', 'User-State', 'User-City','User-Age']
for column in columns:
    users_sample[column] = users_sample[column].apply(lambda x: x.strip().strip('"') if pd.notnull(x) and isinstance(x, str) else x)
users_sample.head()

       User-ID    User-City        User-State    User-Country User-Age
8782     50984      cardiff             wales  united kingdom       18
7664     44037       london           england  united kingdom       26
37610   217705       nelson  british columbia          canada      NaN
28320   163548      andújar              jaén           spain       33
44040   253780  fredericton     new brunswick             NaN       25

Fill in empty states/countries via data base from : 

https://simplemaps.com/data/us-cities

https://simplemaps.com/data/world-cities

In [135]:
cities_path = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir) + "/data/cities")

cities = pd.read_csv(cities_path + "/worldcities.csv")
cities = cities[['city_ascii','country', 'admin_name']]
cities = cities[['city_ascii', 'country', 'admin_name']].rename(columns={'admin_name': 'state_name'})
filtered = cities[cities['country'] != 'United States']

print(cities.shape)
cities.head()

(47869, 3)

  city_ascii    country   state_name
0      Tokyo      Japan        Tōkyō
1    Jakarta  Indonesia      Jakarta
2      Delhi      India        Delhi
3  Guangzhou      China    Guangdong
4     Mumbai      India  Mahārāshtra

In [136]:
us_cities = pd.read_csv(cities_path + "/uscities.csv")
us_cities = us_cities[['city_ascii','state_name']]
us_cities['country'] = 'usa'
print(us_cities.shape)
us_cities.head()

(31120, 3)

    city_ascii  state_name country
0     New York    New York     usa
1  Los Angeles  California     usa
2      Chicago    Illinois     usa
3        Miami     Florida     usa
4      Houston       Texas     usa

In [137]:
cities = pd.concat([cities,us_cities], axis = 0)
cities = cities[['city_ascii', 'country', 'state_name']].rename(columns={'state_name': 'states'})

print(cities.shape)
cities.head()

(78989, 3)

  city_ascii    country       states
0      Tokyo      Japan        Tōkyō
1    Jakarta  Indonesia      Jakarta
2      Delhi      India        Delhi
3  Guangzhou      China    Guangdong
4     Mumbai      India  Mahārāshtra

Case Folding database for fuzzy match

In [138]:
cities['city_ascii'] = cities['city_ascii'].str.lower()
cities['country'] = cities['country'].str.lower()
cities['states'] = cities['states'].str.lower()

Fixing naming deviations

In [139]:
cities['country'] = cities['country'].replace('korea, south', 'south korea', regex=True)
cities['country'] = cities['country'].replace('united states', 'usa', regex=True)

## Imputing corrosponding states and country from cities

We are able to tell what state and country it is from the city, but we can't neccesarily tell the city from the country. <br>
So we will fuzzy match the cities where the row has a city name but not a state or country.<br> We will then find the corrosponding state and city in the cities database and fill those in.<br>

In [140]:
def fuzzy_match(input_string, choices):
    # Use process.extractOne to find the best match
    best_match, score = process.extractOne(input_string, choices)
    return best_match, score

In [141]:
cities_list = cities['city_ascii'].to_list()
cities_list

['tokyo',
 'jakarta',
 'delhi',
 'guangzhou',
 'mumbai',
 'manila',
 'shanghai',
 'sao paulo',
 'seoul',
 'mexico city',
 'cairo',
 'new york',
 'dhaka',
 'beijing',
 'kolkata',
 'bangkok',
 'shenzhen',
 'moscow',
 'buenos aires',
 'lagos',
 'istanbul',
 'karachi',
 'bangalore',
 'ho chi minh city',
 'osaka',
 'chengdu',
 'tehran',
 'kinshasa',
 'rio de janeiro',
 'chennai',
 "xi'an",
 'lahore',
 'chongqing',
 'los angeles',
 'baoding',
 'london',
 'paris',
 'linyi',
 'dongguan',
 'hyderabad',
 'tianjin',
 'lima',
 'wuhan',
 'nanyang',
 'hangzhou',
 'foshan',
 'nagoya',
 'tongshan',
 'luanda',
 'zhoukou',
 'ganzhou',
 'kuala lumpur',
 'heze',
 'quanzhou',
 'johannesburg',
 'chicago',
 'nanjing',
 'jining',
 'hanoi',
 'pune',
 'fuyang',
 'ahmedabad',
 'bogota',
 'shenyang',
 'dar es salaam',
 'khartoum',
 'shangqiu',
 'hong kong',
 'cangzhou',
 'riyadh',
 'santiago',
 'xingtai',
 'zhumadian',
 'chattogram',
 'surabaya',
 'zhanjiang',
 'bijie',
 'yancheng',
 'hengyang',
 'zunyi',
 'shaoyang',
 'surat',
 'shangrao',
 'xinyang',
 'madrid',
 'baghdad',
 'maoming',
 'jieyang',
 'miami',
 'singapore',
 'houston',
 'liaocheng',
 'huanggang',
 'dalian',
 'dallas',
 'qingdao',
 'yulin',
 'douala',
 'qujing',
 'nangandao',
 'philadelphia',
 'pudong',
 'toronto',
 'zhengzhou',
 'dezhou',
 'nanchong',
 'jinan',
 'giza',
 'nairobi',
 'guadalajara',
 'ankara',
 "tai'an",
 'langfang',
 'dazhou',
 'saint petersburg',
 'monterrey',
 'belo horizonte',
 'suzhou',
 'yongzhou',
 'changde',
 'xiangyang',
 'rangoon',
 'atlanta',
 'washington',
 'zhaotong',
 'zhangzhou',
 'melbourne',
 'yichun',
 'bozhou',
 'suqian',
 'abidjan',
 "ji'an",
 'guilin',
 'pingdingshan',
 'berlin',
 'alexandria',
 'mianyang',
 'sydney',
 'huanglongsi',
 'barcelona',
 'yuncheng',
 'cape town',
 'changsha',
 'jeddah',
 'weinan',
 'chenzhou',
 'jiangmen',
 'jiujiang',
 'xinpu',
 'yibin',
 'huaihua',
 'yangzhou',
 'taizhou',
 'kunming',
 'yiyang',
 'changchun',
 "lu'an",
 'jiangguanchi',
 'meizhou',
 'urumqi',
 'suzhou',
 'boston',
 'izmir',
 'guigang',
 'shantou',
 'kabul',
 'xiaoganzhan',
 'bamako',
 'luzhou',
 'hefei',
 'hengshui',
 'fortaleza',
 'anqing',
 'liuzhou',
 'zhangjiakou',
 'zhaoqing',
 'shijiazhuang',
 'ningbo',
 'qiqihar',
 'phoenix',
 'fuzhou',
 'chifeng',
 'xiaoxita',
 'amman',
 'chuzhou',
 'linfen',
 'qingyuan',
 'xianyang',
 'loudi',
 'binzhou',
 'zhuzhou',
 'taiyuan',
 'nanning',
 'harbin',
 'abuja',
 'yokohama',
 'suihua',
 'zaozhuang',
 'detroit',
 'xiamen',
 'neijiang',
 'montreal',
 'fuzhou',
 'baicheng',
 'wuhu',
 'yulinshi',
 'medan',
 'wenzhou',
 'changzhou',
 'puyang',
 'jiaozuo',
 'nanchang',
 'seattle',
 'ibadan',
 'casablanca',
 'kumasi',
 'deyang',
 'busan',
 'hohhot',
 'hechi',
 'algiers',
 'tangshan',
 'shiyan',
 'lucknow',
 'mashhad',
 'san francisco',
 'boankra',
 'dubai',
 'anshan',
 'baojishi',
 'qinzhou',
 'guiyang',
 'bengbu',
 'bazhou',
 'suining',
 'wuxi',
 'kotla qasim khan',
 'hanzhong',
 'putian',
 'zhenjiang',
 "guang'an",
 'faisalabad',
 'changzhi',
 'tongren',
 'leshan',
 'santa cruz de la sierra',
 'qinhuangdao',
 'jaipur',
 'xinzhou',
 'lanzhou',
 'wuzhou',
 'athens',
 'san diego',
 'addis ababa',
 'taichung',
 'huainan',
 'guatemala city',
 'kuwait city',
 'budapest',
 'qincheng',
 'rizhao',
 'quezon city',
 'sanaa',
 'tashkent',
 'kyiv',
 'meishan',
 'incheon',
 'birmingham',
 'ningde',
 'zhongshan',
 'weihai',
 'bursa',
 'minneapolis',
 'mbuji-mayi',
 'haikou',
 'tongliao',
 'chaoyang',
 'la paz',
 'pyongyang',
 'tampa',
 'shaoguan',
 'heyuan',
 'brasilia',
 'omdurman',
 'malang',
 'stuttgart',
 'daqing',
 'rome',
 'brooklyn',
 'kaohsiung',
 'xiangtan',
 'longyan',
 'baotou',
 'handan',
 'jinzhou',
 'kanpur',
 'denver',
 'nanping',
 'gazipura',
 'shanwei',
 'chaozhou',
 'guayaquil',
 'weifang',
 "huai'an",
 'zibo',
 'ankang',
 'mogadishu',
 'munich',
 'gulou',
 'taipei',
 'bekasi',
 'damascus',
 'sanming',
 'yangjiang',
 'jiamusi',
 'luohe',
 'medellin',
 'dingxi',
 'shaoxing',
 'yantai',
 'huizhou',
 'lishui',
 'xuanzhou',
 'khowrhesht',
 'mirzapur',
 'zigong',
 'hamburg',
 'guangyuan',
 'cali',
 'huangshi',
 'xining',
 'lusaka',
 'ouagadougou',
 'yaounde',
 'zhuhai',
 'huludao',
 'baoshan',
 'mecca',
 'vancouver',
 'lianshan',
 'beirut',
 'salvador',
 'bucharest',
 'longba',
 'nagpur',
 'queens',
 'jilin',
 'tieling',
 'accra',
 'yunfu',
 'bekasi kota',
 'daegu',
 'ghaziabad',
 'luoyang',
 'brisbane',
 'anshun',
 'riverside',
 'yingkou',
 'colombo',
 'yanjiang',
 'baku',
 'antananarivo',
 'mudanjiang',
 'fukuoka',
 "yan'an",
 'jincheng',
 'nantong',
 'lincang',
 'yuxi',
 'las vegas',
 'caracas',
 'tangerang',
 'laibin',
 'konya',
 'supaul',
 'vienna',
 'esfahan',
 'baltimore',
 'shengli',
 'dandong',
 'qinbaling',
 'gaoping',
 'awka',
 'taizhou',
 "ma'anshan",
 'harare',
 'perth',
 'st. louis',
 'phnom penh',
 'depok',
 'stockholm',
 'puning',
 'huaibei',
 'kowloon',
 'cordoba',
 'haiphong',
 'zamboanga city',
 'chongzuo',
 'rawalpindi',
 'portland',
 'kano',
 'yushan',
 'havana',
 'hezhou',
 'pingliang',
 'vadodara',
 'manaus',
 'qingyang',
 'san antonio',
 'rajkot',
 'shangzhou',
 'vishakhapatnam',
 'sanmenxia',
 'baicheng',
 'gujranwala',
 'aleppo',
 'tijuana',
 'bamenda',
 'minsk',
 'indore',
 'karaj',
 'kananga',
 'peshawar',
 'sapporo',
 'sacramento',
 'tilburg',
 'pingxiang',
 'ecatepec',
 'almaty',
 'austin',
 'yinchuan',
 'santos',
 'blantyre',
 'thane',
 'orlando',
 'tainan',
 'xiping',
 'multan',
 'santa cruz',
 'port harcourt',
 'jixi',
 'fushun',
 'warsaw',
 'beihai',
 'fuxin',
 'wuwei',
 'siping',
 'san juan',
 'mersin',
 'bhopal',
 'mosul',
 'lubumbashi',
 'davao',
 'curitiba',
 'san jose',
 'shuyangzha',
 'adana',
 'quito',
 'pittsburgh',
 'brazzaville',
 'hyderabad city',
 'diyarbakir',
 'indianapolis',
 'pimpri-chinchwad',
 'masqat',
 'montevideo',
 'shuozhou',
 'manhattan',
 'cincinnati',
 'kansas city',
 'patna',
 'tegucigalpa',
 'kampala',
 'cleveland',
 'sanzhou',
 'changshu',
 'heihe',
 'conakry',
 'ximeicun',
 'caloocan city',
 'masvingo',
 'zhongli',
 'novosibirsk',
 'bilaspur',
 'semarang',
 'jingdezhen',
 'ludhiana',
 'liaoyang',
 'chengtangcun',
 'rajshahi',
 'balandougou',
 'jiangyin',
 'valencia',
 'agra',
 'leon de los aldama',
 'puebla',
 'columbus',
 'yopougon',
 'hebi',
 'shiraz',
 'madurai',
 'huzhou',
 'tabriz',
 'jamshedpur',
 'maracaibo',
 'sofia',
 'san jose',
 'prayagraj',
 'palembang',
 'kawasaki',
 'kobe',
 'jiaxing',
 'kigali',
 'zhangjiajie',
 'baiyin',
 'guiping',
 'lianjiang',
 'jianguang',
 'yucheng',
 'xushan',
 'panama city',
 'nneyi-umuleri',
 'leizhou',
 'gwangju',
 'katako-kombe',
 'recife',
 'nasik',
 'valencia',
 'onitsha',
 'abu dhabi',
 'zapopan',
 'daejeon',
 'bronx',
 'yekaterinburg',
 'huazhou',
 'jinhua',
 'kyoto',
 'amsterdam',
 'pizhou',
 'kismaayo',
 'yangshe',
 'virginia beach',
 'dakar',
 'goiania',
 'charlotte',
 "rui'an",
 'muscat',
 'kharkiv',
 'wenling',
 'gaozhou',
 'faridabad',
 'medina',
 'khulna',
 'ulaanbaatar',
 'fuqing',
 'kayseri',
 'tel aviv-yafo',
 'wuzhong',
 'pingdu',
 'sangereng',
 'yangquan',
 'samsun',
 'yutan',
 'copenhagen',
 'helsinki',
 'prague',
 'milan',
 'auckland',
 'santiago',
 'chizhou',
 'makassar',
 'liangshi',
 'porto alegre',
 'huangshan',
 'barranquilla',
 'al basrah',
 'benxi',
 'saitama',
 'guarulhos',
 'juarez',
 'mandalay',
 'xintai',
 'wusong',
 'calgary',
 'meerut',
 'yushu',
 'belem',
 'kuaidamao',
 'huazhou',
 'baishan',
 'adelaide',
 'haicheng',
 'milwaukee',
 'providence',
 'jacksonville',
 'yicheng',
 'cacuaco',
 'porto',
 'rosario',
 'canagatan',
 'soweto',
 'bagam',
 'jabalpur',
 'rucheng',
 'huaiyin',
 'dublin',
 'kazan',
 'dayan',
 'shaoyang',
 'balikesir',
 'comayaguela',
 'laiwu',
 'sharjah',
 'jingling',
 'kalyan',
 'nizhniy novgorod',
 'yongcheng',
 'sumedang',
 'can tho',
 'brussels',
 'suwon',
 'yiwu',
 'beidao',
 'vasai-virar',
 'xiangshui',
 'dadukou',
 'campinas',
 'lingcheng',
 'shuangyashan',
 'mombasa',
 'najafgarh',
 'xinyu',
 'qom',
 'hargeysa',
 'baidoa',
 'zhangye',
 'varanasi',
 'hiroshima',
 'chiang mai',
 'belgrade',
 'maiduguri',
 'chelyabinsk',
 'batam centre',
 'rongcheng',
 'mbandaka',
 'doha',
 'ahvaz',
 'shymkent',
 'tripoli',
 'srinagar',
 'nashville',
 'liaoyuan',
 'aurangabad',
 'cilacap',
 'salt lake city',
 'omsk',
 'pikine',
 'samara',
 'guankou',
 'bandar lampung',
 'raleigh',
 'lianyuan',
 'rongcheng',
 'dhanbad',
 'nay pyi taw',
 'aba',
 'kaiyuan',
 'zhuji',
 'yingtan',
 'edmonton',
 'leiyang',
 'ulsan',
 'yichun',
 'benin city',
 'bujumbura',
 'guyuan',
 'xiantao',
 'rostov',
 'maputo',
 'bukavu',
 'amritsar',
 'shagamu',
 'yingchuan',
 'aligarh',
 'santo domingo',
 'bogor',
 'bishkek',
 'tbilisi',
 'guwahati',
 'ufa',
 'fes',
 'mwanza',
 'bien hoa',
 'mexicali',
 'sevilla',
 'ikare',
 'dongtai',
 'dingzhou',
 'xibeijie',
 'tamale',
 'yuyao',
 'hanchuan',
 'gongzhuling',
 "n'djamena",
 'ubungo',
 'cologne',
 'krasnoyarsk',
 'zhufeng',
 'ezhou',
 'astana',
 'nezahualcoyotl',
 'nouakchott',
 'haora',
 'tongjin',
 'xiashi',
 'yerevan',
 'ranchi',
 'richmond',
 'ciudad nezahualcoyotl',
 'gwalior',
 'ottawa',
 'zhongwei',
 'oslo',
 'goyang',
 'sendai',
 'mizhou',
 'xishan',
 'barquisimeto',
 'hegang',
 'chandigarh',
 'voronezh',
 'managua',
 'haldwani',
 'vijayawada',
 'perm',
 'fangchenggang',
 'jiancheng',
 'cazenga',
 'kisangani',
 'shouguang',
 'memphis',
 'sao luis',
 'jodhpur',
 'matola',
 'ogbomoso',
 'sanya',
 'rangapukur',
 'ashgabat',
 'wutong',
 'linhai',
 'denizli',
 'niamey',
 'shubra al khaymah',
 'wafangdian',
 'zhongxiang',
 'monrovia',
 'san cristobal',
 'islamabad',
 'xinyi',
 'thu duc',
 'morelia',
 'odesa',
 'raipur',
 'changwon',
 'arequipa',
 'volgograd',
 'zaoyang',
 'xingyi',
 'shuizhai',
 'kota',
 'quetta',
 'quang ha',
 'domaa-ahenkro',
 'bareilly',
 'oklahoma city',
 'bordeaux',
 'xingcheng',
 'taixing',
 'xinhualu',
 'lilongwe',
 'port-au-prince',
 'yingcheng',
 'al mijlad',
 'luocheng',
 'pekanbaru',
 'natal',
 'chiba',
 'kirkuk',
 'hartford',
 'huilong',
 'wuchuan',
 'dnipro',
 'narayanganj',
 'gqeberha',
 'malaga',
 'marrakech',
 'cebu city',
 'louisville',
 'asmara',
 'coimbatore',
 'maceio',
 'nada',
 'taishan',
 'teresina',
 'solapur',
 'freetown',
 'santo domingo este',
 'krasnodar',
 'vientiane',
 'tangier',
 'anqiu',
 'kermanshah',
 'feicheng',
 'kibanseke premiere',
 'seberang jaya',
 'buffalo',
 'hubli',
 'el alto',
 'cankaya',
 'hwasu-dong',
 'setagaya',
 'kecioren',
 'jerusalem',
 'khartoum north',
 'meishan',
 'mushin',
 'trujillo',
 'kitakyushu',
 'aguascalientes',
 'new orleans',
 'fort worth',
 'taihe',
 'riga',
 "xin'an",
 'taihecun',
 'kashgar',
 'songnam',
 'trichinopoly',
 'cartagena',
 'qingzhou',
 'naples',
 'santiago del estero',
 'naucalpan de juarez',
 'daye',
 'hengzhou',
 'padang',
 'bridgeport',
 'owerri',
 'zhuanghe',
 'bobo-dioulasso',
 'ad dammam',
 'quzhou',
 'donetsk',
 'ashmun',
 'bunia',
 'jiaozhou',
 'campo grande',
 'wuchang',
 'sao goncalo',
 'bucaramanga',
 'merida',
 'yangchun',
 'osmangazi',
 'esenyurt',
 'moradabad',
 'bangui',
 'abeokuta',
 'cancun',
 'antipolo',
 'dengtalu',
 'taguig city',
 'tabuk',
 'zhoushan',
 'tucson',
 'as sulaymaniyah',
 'chihuahua',
 'klang',
 'tiruppur',
 'gurgaon',
 'ar ramadi',
 "hai'an",
 'laiyang',
 'barinas',
 'jalandhar',
 'marseille',
 'kaifeng chengguanzhen',
 'eskisehir',
 'gaomi',
 'lhasa',
 'ipoh',
 'el paso',
 'saltillo',
 'dushanbe',
 'ikeja',
 'el dorado',
 'cochabamba',
 'portsmouth',
 'tyumen',
 'southampton',
 'hermosillo',
 'wuxi',
 'leping',
 'cheongju',
 'shache',
 'sale',
 'hailun',
 'macheng',
 'akure',
 'ilorin',
 'erbil',
 'kathmandu',
 'saratov',
 'iguacu',
 'zijinglu',
 'turin',
 'yuci',
 'dehui',
 'pietermaritzburg',
 'durban',
 'bhubaneshwar',
 'denpasar',
 'tongchuan',
 'joao pessoa',
 'samarinda',
 'chengxiang',
 'rongjiawan',
 'weichanglu',
 'sakai',
 'renqiu',
 'omaha',
 'xindi',
 "wu'an",
 'qingping',
 'gaoyou',
 'sao bernardo do campo',
 'yiyang',
 'hejian',
 'puxi',
 'bhayandar',
 'androtsy',
 'culiacan',
 'cucuta',
 'danyang',
 'dongyang',
 'krakow',
 'pasig city',
 'thessaloniki',
 'queretaro',
 'palermo',
 'xigaze',
 'qamdo',
 'mcallen',
 'libreville',
 'seyhan',
 'san pedro sula',
 'niigata',
 'hempstead',
 'leeds',
 'hamamatsu',
 'pointe-noire',
 'xiangxiang',
 'birmingham',
 'chaohucun',
 'bucheon',
 'lubango',
 'homs',
 'bilbao',
 'zouping',
 'frankfurt',
 'san luis potosi',
 'dali',
 'fuyang',
 'khujand',
 'korla',
 'albuquerque',
 'hamhung',
 'erzurum',
 'zagreb',
 'al `ayn',
 'songzi',
 'patiala',
 'laixi',
 'zhongba',
 'bahawalpur',
 'qingnian',
 'kaduna',
 'winnipeg',
 'trabzon',
 'guangshui',
 'baardheere',
 'shishgarh',
 'nerima',
 'sizhan',
 'ciudad guayana',
 'natal',
 'lichuan',
 'licheng',
 'santo andre',
 'ota-ku',
 'gaalkacyo',
 ...]

In [142]:
for index, row in users_sample.iterrows():
    if (not pd.isnull(row['User-City'])) and (pd.isnull(row['User-State']) or pd.isnull(row['User-Country'])):
        city_to_find =fuzzy_match(row['User-City'],cities_list)[0]
        print(city_to_find)
        city_mask = cities[cities['city_ascii'] == city_to_find]
        if not city_mask.empty:
            state = city_mask['states'].iloc[0]
            country = city_mask['country'].iloc[0]
            users_sample.loc[index, 'User-State'] = state
            users_sample.loc[index, 'User-Country'] = country

fredericton

In [143]:
users_sample

       User-ID    User-City        User-State    User-Country User-Age
8782     50984      cardiff             wales  united kingdom       18
7664     44037       london           england  united kingdom       26
37610   217705       nelson  british columbia          canada      NaN
28320   163548      andújar              jaén           spain       33
44040   253780  fredericton     new brunswick          canada       25

### Cleaning Age

In [156]:
users_sample.dtypes
users_sample

       User-ID    User-City        User-State    User-Country User-Age
8782     50984      cardiff             wales  united kingdom       18
7664     44037       london           england  united kingdom       26
37610   217705       nelson  british columbia          canada      NaN
28320   163548      andújar              jaén           spain       33
44040   253780  fredericton     new brunswick          canada       25

Imputing Age

In [162]:
valid_age = users_sample.dropna(subset=['User-Age'])
valid_age['User-Age'] = pd.to_numeric(valid_age['User-Age'], errors='coerce')
valid_age.dtypes

C:\Users\Justin\AppData\Local\Temp\ipykernel_2940\86178911.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_age['User-Age'] = pd.to_numeric(valid_age['User-Age'], errors='coerce')

User-ID          int64
User-City       object
User-State      object
User-Country    object
User-Age         int64
dtype: object

In [163]:
mean_age_by_country = valid_age.groupby('User-Country')['User-Age'].mean()
overall_mean_age = valid_age['User-Age'].mean()

In [164]:
for index, row in users_sample.iterrows():
    if pd.isna(row['User-Age']):
        country = row['User-Country']
        if country in mean_age_by_country:
            users_sample.at[index, 'User-Age'] = mean_age_by_country[country]
        else:
            users_sample.at[index, 'User-Age'] = overall_mean_age

In [165]:
users_sample

       User-ID    User-City        User-State    User-Country User-Age
8782     50984      cardiff             wales  united kingdom       18
7664     44037       london           england  united kingdom       26
37610   217705       nelson  british columbia          canada     25.0
28320   163548      andújar              jaén           spain       33
44040   253780  fredericton     new brunswick          canada       25