# ML Analysis
Will attempt to do some sort of clustering.
## Set up Environment

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# vectorizing the book info column using TFidf Vectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
path = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir) + "/data/")

In [3]:
os.listdir(path + 'cleaned')

['.DS_Store',
 'BX-Books.csv',
 'BX-Ratings.csv',
 'BX-Users.csv',
 'BX-NewBooksRatings.csv',
 '.ipynb_checkpoints']

## Pull in required data:

In [4]:
books = pd.read_csv(path + 'cleaned/BX-Books.csv')
users = pd.read_csv(path + 'cleaned/BX-Users.csv')
ratings = pd.read_csv(path + 'cleaned/BX-Ratings.csv')

In [6]:
books.head(1)

         ISBN  ...              Book-Vector
0  0002005018  ...  [0. 0. 0. ... 0. 0. 0.]

[1 rows x 7 columns]

In [8]:
users.head(1)

   Unnamed: 0  User-ID User-City User-State User-Country  User-Age  Age-Group
0           0        8   timmins    ontario       canada      44.0          1

In [9]:
ratings.head(1)

   User-ID        ISBN  Book-Rating
0   276744  038550120X            7