# ML Analysis
Will attempt to do some sort of clustering.
## Set up Environment

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# vectorizing the book info column using TFidf Vectorizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
path = os.path.join(os.path.normpath(os.getcwd() + os.sep + os.pardir) + "/data/")

In [4]:
os.listdir(path + 'cleaned')

['.DS_Store',
 'BX-Books.csv',
 'BX-Ratings.csv',
 'BX-Users.csv',
 'BX-NewBooksRatings.csv',
 '.ipynb_checkpoints']

## Pull in required data:

In [32]:
books = pd.read_csv(path + 'cleaned/BX-Books.csv')
users = pd.read_csv(path + 'cleaned/BX-Users.csv')
ratings = pd.read_csv(path + 'cleaned/BX-Ratings.csv')

In [33]:
books.head()

         ISBN  ...              Book-Vector
0  0002005018  ...  [0. 0. 0. ... 0. 0. 0.]
1  0374157065  ...  [0. 0. 0. ... 0. 0. 0.]
2  0399135782  ...  [0. 0. 0. ... 0. 0. 0.]
3  0440234743  ...  [0. 0. 0. ... 0. 0. 0.]
4  0452264464  ...  [0. 0. 0. ... 0. 0. 0.]

[5 rows x 7 columns]

In [34]:
tf = TfidfVectorizer(analyzer = "word", ngram_range=(1,2), min_df=0, stop_words='english')

In [35]:
tfidf_matrix = tf.fit(books['Book-Info'])

In [36]:
book_vector = tfidf_matrix.transform(books['Book-Info']).toarray()

In [37]:
books['Book-Vector'] = list(book_vector)

In [38]:
book = tfidf_matrix.transform(['pet sematary by stephen king']).toarray()

In [ ]:
%%time
similarities = {}
for idx, row in books.iterrows():
    book_vector = row['Book-Vector']
    book_vector = book_vector.reshape(1, -1)
    similarity_score = cosine_similarity(book[0].reshape(1,-1), book_vector)[0][0]
    similarities[row['Book-Info']] = similarity_score

In [ ]:
top_5_books = sorted(similarities.items(), key=lambda item: item[1], reverse=True)[:5]

In [ ]:
top_5_books

In [28]:

books[books['Book-Title'] == 'It']

            ISBN Book-Title  ... Year-Of-Publication    Book-Publisher
1764  0450411435         It  ...                   0  Trafalgar Square
2370  0670813028         It  ...                1986      Viking Books
6573  0451149513         It  ...                1987  New Amer Library
8961  0451169514         It  ...                1997       Signet Book

[4 rows x 5 columns]

In [24]:
books = pd.read_csv(path + 'raw/BX-Books.csv')

In [30]:
books.isna().sum()

ISBN                    0
Book-Title             31
Book-Author             0
Year-Of-Publication     0
Book-Publisher          0
Book-Info               0
Book-Vector             0
dtype: int64

In [31]:
books[books['Book-Title'].isna()]

             ISBN  ...              Book-Vector
666    0330376136  ...  [0. 0. 0. ... 0. 0. 0.]
1764   0450411435  ...  [0. 0. 0. ... 0. 0. 0.]
2049   0440216540  ...  [0. 0. 0. ... 0. 0. 0.]
2370   0670813028  ...  [0. 0. 0. ... 0. 0. 0.]
3432   0449220605  ...  [0. 0. 0. ... 0. 0. 0.]
3522   0140115773  ...  [0. 0. 0. ... 0. 0. 0.]
4585   0553279300  ...  [0. 0. 0. ... 0. 0. 0.]
5360   0449216527  ...  [0. 0. 0. ... 0. 0. 0.]
5551   0849916836  ...  [0. 0. 0. ... 0. 0. 0.]
6173   0802136346  ...  [0. 0. 0. ... 0. 0. 0.]
6573   0451149513  ...  [0. 0. 0. ... 0. 0. 0.]
7099   0684818981  ...  [0. 0. 0. ... 0. 0. 0.]
7648   037541388X  ...  [0. 0. 0. ... 0. 0. 0.]
8254   0440986524  ...  [0. 0. 0. ... 0. 0. 0.]
8585   0140178724  ...  [0. 0. 0. ... 0. 0. 0.]
8840   0380776839  ...  [0. 0. 0. ... 0. 0. 0.]
8961   0451169514  ...  [0. 0. 0. ... 0. 0. 0.]
9014   0671880608  ...  [0. 0. 0. ... 0. 0. 0.]
9957   068801111X  ...  [0. 0. 0. ... 0. 0. 0.]
10371  1551662833  ...  [0. 0. 0. ... 0. 0. 0.]
10481  0399140913  ...  [0. 0. 0. ... 0. 0. 0.]
10727  0060512377  ...  [0. 0. 0. ... 0. 0. 0.]
10740  0380633132  ...  [0. 0. 0. ... 0. 0. 0.]
14121  0330375466  ...  [0. 0. 0. ... 0. 0. 0.]
14137  0380763400  ...  [0. 0. 0. ... 0. 0. 0.]
14190  0743457536  ...  [0. 0. 0. ... 0. 0. 0.]
15146  0380819570  ...  [0. 0. 0. ... 0. 0. 0.]
15296  0446606138  ...  [0. 0. 0. ... 0. 0. 0.]
15480  000648302X  ...  [0. 0. 0. ... 0. 0. 0.]
16233  0316845221  ...  [0. 0. 0. ... 0. 0. 0.]
17533  0373835272  ...  [0. 0. 0. ... 0. 0. 0.]

[31 rows x 7 columns]